*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

i, svg{
    pointer-events: none;
}

.kick-pad, .snare-pad, .hihat-pad{
    width: 5rem;
    height: 5rem;
    margin: 1rem .5rem;
    cursor: pointer;
    border-radius: 3px;
}

.kick-pad{
    background: rgb(132, 132, 235);
}

.hihat-pad{
    background:rgb(243, 104, 116);
}

.snare-pad{
    background: rgb(224, 240, 152);
}

.kick-pad.active{
    background: rgb(82, 82, 230);
}

.hihat-pad.active{
    background:rgb(236, 0, 20);
}

.snare-pad.active{
    background: rgb(208, 255, 0);
}

.sequencer{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hihat-track, .kick-track, .snare-track{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-top: 5rem;
}

.kick, .hihat, .snare{
    display: flex;
    flex: 2;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0;
    margin-right: 2rem;
}

.type-and-mute{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.controls button{
    padding: 1rem;
    border: none;
    background: rgb(100, 97, 97);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all .5s ease;
    margin-right: 2rem;
    outline: none;
}

.pad{
    transition: all .5s ease;    
}

.play{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: transparent;
    color: #242424;
    border: 2px solid #242424;
    cursor: pointer;
    margin-top: 3rem;
    outline: none;
    border-radius: 3px;
}

select{
    padding: 1rem;
    font-size: 1rem;
}

.controls .mute{
    background: rgb(228, 228, 228)
}
.mute.active{
    background: rgb(100, 97, 97);
}


.tempo{
    margin: 3rem;
    width: 30%;
}

.tempo p{
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem;
}

.tempo-slider{
    padding: .2rem;
    -webkit-appearance: none;
    margin : 1rem 0;
    width: 100%;
    position: relative;
    background:transparent;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #242424;
    outline: none;
}

@keyframes playTrack{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

@media screen and (max-width: 1695px){
    .hihat-track, .kick-track, .snare-track{
        width: 95%
    }    
}

@media screen and (max-width: 1695px){
    .controls{
        flex-direction: column;
        align-items: flex-start;
    }   
    .controls button{
        padding: .5rem;
    } 
    select{
        padding: .5rem;
    }
    .type-and-mute{
        margin-bottom: .2rem;
    }
    .type-and-mute h1{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 995px){
    .pad{
        width: 2rem;
    }    
}

@media screen and (max-width: 750px){
    .hihat-track, .kick-track, .snare-track{
        flex-direction: column;
    }   
}

@media screen and (max-width: 450px){
    .pad{
        width: 1rem;
    }     
}